<div class="container-fluid mt-3">
    <div class="jumbotron">
        <h2>Hiptime! Gratis Y Facil</h2>
        <br>
        <h3>Hiptime es la mejor opcion </h3>
        <br>
        <%= link_to "Registro", new_user_registration_path, class: "btn btn-danger" %>
    </div>
</div>