<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 mt-2">
     <p>
      <strong>Title:</strong>
     <%= @item.title %>
     </p>
      <p>
        <strong>Description:</strong>
        <%= @item.description %>
      </p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <%= link_to 'Edit', edit_item_path(@item) %> |
      <%= link_to 'Back', items_path %>
    </div>
  </div>
</div>
